$primary-color-one: #ffffff;
$primary-color-two: #cccccc;
$primary-color-three: #e6e6e6;
$secondary-color-one: #1e1e1e;
$secondary-color-two: #3e3e3e;
$secondary-color-three: #afafaf;
$font-stack: 'Satoshi', sans-serif;
